<component name="ArtifactManager">
  <artifact type="war" name="SpringSecurityHibernateAnnotationExample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSecurityHibernateAnnotationExample.war">
      <element id="artifact" artifact-name="SpringSecurityHibernateAnnotationExample:war exploded" />
    </root>
  </artifact>
</component>